version: "3"
services:
  kobra-unleashed:
    ports:
      - "5000:5000"
    volumes:
      - ./certs:/app/certs
      - ./uploads:/app/uploads
    restart: always
    image: ghcr.io/anjomro/kobra-unleashed:master
    build:
      context: .
    environment:
      - MQTT_HOST=eclipse-mosquitto
      - MQTT_PORT=8883
      - ROOT_URL=http://address-reachable-from-printer.com
    container_name: kobra-unleashed
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/"]
      interval: 10s
      timeout: 10s
      retries: 10
    depends_on:
        eclipse-mosquitto:
            condition: service_started
  eclipse-mosquitto:
    stdin_open: true
    tty: true
    ports:
      - "8883:8883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./certs/:/certs/
    image: eclipse-mosquitto
